.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 170px;
    position: sticky;
    top: 10px;
}
.navbar-bg{
    
    z-index: 1;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.navbar h1{
     background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Dancing Script", cursive;
    cursor:default;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

  @media(max-width:768px){
    .navbar{
        margin: 60px 50px;
    }
    
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.3s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 20px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    } 
    
}
  

